body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}
.bg-grey {
	background-color: #f6f6f6;
}

.jumbotron {
	background-color: #f4511e;
	color: #fff;
	padding: 100px 25px;
}

.container-fluid {
	padding: 60px 50px;
}

.logo {
    color: #f4511e;
    font-size: 200px;
}

.margin-zero{
	margin: 0 auto;
}
.img-transition {
    margin: 0 auto;
    transition: transform .8s;
    
}
.img-transition:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
}
/* sm */
@media (min-width: 768px) {
    .img-size {
        width: 100px;
        height:100px;
    }
    .carousel-img{
    	height:50px;
    }
}
    
    
}
/* md */
@media (min-width: 992px) {
    .img-size {
        width: 150px;
        height:150px;
    }
    .carousel-img{
    	height:50px;
    }
    
}
/* lg */
@media (min-width: 1200px) {
    .img-size {
        width: 200px;
        height:200px;
    }
    .carousel-img{
    	height:50px;
    }
   
}

@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	
}
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #f4511e;
}